@use 'bases/mixins' as m;
@use 'bases/variables' as v;

footer{
    padding: 2rem;
    background-color: v.$negroHumo;

    .contenedor-footer{
        padding-top: 2rem;
    }

    .copyright{
        color: v.$beigeClaro;
        text-align: center;
    }
}
