@use 'bases/variables' as v;

.barra{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
}

.navegacion{
    gap: 2rem;
    a{
        color: v.$negroHumo;
        text-decoration: none;
        font-size: 1.8rem;
        display: block;
        &:hover{
            color: v.$beigePardo;
        }
    }
}

.dropdown-item{
    padding: 0.2rem 0.2rem 0.2rem 0;
}
