<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ISCow-In</title>    
</head>
<body>
    <header class="header">
        <div class="container content-header">
            <div class="bar">
                <a href="index.html">
                    <img src="src\views\img\logo.svg" alt="logo">
                </a>
                <nav class="menu">
                    <a href="index.html">Home</a>
                    <a href="index.html">Sobre</a>
                    <a href="index.html">Contato</a>
                </nav>
                
            </div>
        </div>
    </header>
    <h1>My First Web Page</h1>
    <p>My first paragraph.</p>
</body>
</html>
