<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ISCow-In - Login</title>
    <link rel="stylesheet" href="css\app.css">
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Ingrese sus credenciales</h3>

        <label for="username">Usuario</label>
        <input type="text" placeholder="Correo electrónico" id="username">

        <label for="password">Contraseña</label>
        <input type="password" placeholder="****" id="password">

        <button>Ingresar</button>
        <div class="social">
        </div>
    </form>
</body>
    
</html>
