<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ISCow-In - Registro</title>  
    <link rel="stylesheet" href="css\app.css"> 
</head>

<body>
    <header class="header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="index.html">
                    <img src="img\logo.svg" alt="Logotipo de ISCow-In">ISCow-In
                </a>

                <nav class="navegacion">
                    <a href="reports.html">Reportes</a>
                    <a href="account.html">Cuenta</a>
                    <a href="account.html">Salir</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="contenedor seccion">
        <form>
            <h3>Ingrese sus credenciales</h3>
    
            <label for="username">Usuario</label>
            <input type="text" placeholder="Correo electrónico" id="username">
    
            <label for="password">Contraseña</label>
            <input type="password" placeholder="****" id="password">
    
            <button>Ingresar</button>
            <div class="social">
            </div>
        </form>
    </main>

    <footer class="footer seccion fixed-bottom register">
        <div class="contenedor contenedor-footer">
            <p class="copyright">ISCow-In &copy; 2021</p>
            <div class="contenedor-contacto">
                <a href="mailto:miguel.rubiano01@uptc.edu.co">Contacto: miguel.rubiano01@uptc.edu.co</a>
            </div>
        </div>
    </footer>
</body>
</html>
